/* Style the input form */
#search_input{
	left: 50%;
	top: 50%;
	margin-left: -20%;
    position: absolute;
    margin-top: -10%;
    width: 1000px;
}

#logo{
	margin-top: 15%;
}

/* Style the table */
table{
	width: 600px;
}

table, th, td{
    border: 1px solid black;
	/*border-collapse: collapse;*//*this will get rid of the double border*/
}

