/* Style the input form */
#search_input{
	width: 30%;
	padding: 8px 8px;
	border-style: solid;
	border-color: rgba(0, 128, 0, 0.3);
	border-width: 5px;
	border-radius: 8px;
	background-color: white;
/*    background-image: url('searchicon.png');
*/    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

#button{
	width: 15%;
}

#logo{
	margin-top: 15%;
}

div{
	margin-left: 0 auto;
	text-align: center;
}

/* Style the table */
table{
	width: 600px;
}

table, th, td{
    border: 1px solid black;
	/*border-collapse: collapse;*//*this will get rid of the double border*/
}

