/* Style the input form */
#search_input{
	background-color: blue;
	width: 30%;
	padding: 8px 8px;
	border-style: solid;
	/*custom green color*/
	border-color: rgba(0, 128, 0, 0.3);
	border-width: 5px;
	border-radius: 8px;
    padding-left: 40px;
    margin-top: 50px;
    font-size: 17px;
}

#logo{
	background: yellow;
	position: absolute;
	margin: 0px;
	margin-top: -2%;
	margin-left: 40%;
}

#button{
	background: red;
	width: 15%;
	top: 300px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-size: 17px;
	border-radius: 5px;
	border-color: lightgrey;
	border-width: 3px;
	background-color: rgb(230, 230, 230);
	box-shadow: 0 2px rgb(110, 110, 110);
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#status{
	background: red;
	width: 15%;
	top: 300px;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-size: 17px;
}

#button:hover{
	background-color: lightgrey;
    color: black;
}

#button:active{
	background: pink;
	background-color: lightgrey;
	box-shadow: 0 5px #666;
	transform: translateY(6px);
}

#button_login, #button_logout{
	background: red;
	width: auto;
	top: auto;
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
	font-size: 12px;
	border-radius: 5px;
	border-color: lightgrey;
	border-width: 3px;
	background-color: rgb(230, 230, 230);
	box-shadow: 0 2px rgb(110, 110, 110);
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#title{
	background: pink;
	vertical-align: top;
	margin: 0px;
	margin-top: 10%;
	margin-left: 10%;

	/*custom green color*/
	color: rgba(0, 128, 0, 0.55);
/*	color: black;*/
	font-size: 42px;
	font-family: 'Open Sans', sans-serif;
}

#main_container{
	text-align: center;
}

#search_table{
	background-color: brown;
	float: left;
	margin-left: 6%;
	font-family: 'Open Sans', sans-serif;
	overflow-y: auto;
	height: 395px;

}
 #history_table{
 	background-color: purple;
 	float: right;
 	margin-right: 6%;
 	font-family: 'Open Sans', sans-serif;
 	overflow-y: auto;
 	height: 395px;
 }

 #url_list{
 	background-color: orange;
 	clear: both;
 	margin-top: 22%;
 }

/* Style the table */
table, th, td{
    border: 2px solid black;
    width: 600px;
    text-align: center;
    border-radius: 3px;

    /*this will get rid of the double border*/
	/*border-collapse: collapse;*/
}

th{
	background-color: white;
}

tr:hover td{
	background-color: grey;
}

tr:nth-child(odd){
	background-color: lightgrey;
}

/*===================*/
/*   Toggle Button   */
/*===================*/
.lightsoff_toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.lightsoff_toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
	background-color: rgba(0, 128, 0, 0.3);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}